<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>testView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D06A1A37179DC6A3003346F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D06A1A57179DC6A3003346F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EED76F4919C4C8EC00FD15E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EED76F5819C4C97000FD15E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
